version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-jdownloader-2_web_1
      APP_PORT: 5800

  web:
    image: jlesage/jdownloader-2:v24.11.1@sha256:2a1450abdbe75e03e779d01096c65a7cde2e3a85726092900ce134de781adc35
    stdin_open: true
    tty: true
    restart: on-failure
    mem_limit: 8g
    cpu_shares: 2048
    security_opt:
      - no-new-privileges:true
      - seccomp:unconfined
    volumes:
      - jdownloader_config:/config
      - jdownloader_output:/output
    environment:
      TZ: Europe/Berlin
      USER_ID: 1000
      GROUP_ID: 1000
      DARK_MODE: 1

volumes:
  jdownloader_config:
    driver: local
    driver_opts:
      type: cifs
      o: >
        # username=SMB_USER,
        # password=SMB_PASSWORD,
        guest,
        uid=1000,
        gid=1000,
        iocharset=utf8,
        vers=3.1.1
      device: //192.168.1.163/raid/Umbrel_APPS/Jdownloader/config

  jdownloader_output:
    driver: local
    driver_opts:
      type: cifs
      o: >
        username=SMB_USER,
        password=SMB_PASSWORD,
        uid=1000,
        gid=1000,
        iocharset=utf8,
        vers=3.1.1
      device: //192.168.1.163/raid/Umbrel_APPS/Jdownloader/output
